.wp-media-picker img {
    max-width: 100%;
}

#order_data .payment_type_label {
    display: inline-block;
    vertical-align: top;
}
#order_data .payment_type_value {
    display: inline-block;
}
#order_data .payment_type_wrap {
    color: #777;
}
#order_data .purchase_order_wrap input,
#order_data .payment_type_wrap input,
#order_data .payment_type_wrap .option-label {
    display: none;
}

.edit_purchase_order,
.edit_payment_type {
    color: #999;
}
.edit_purchase_order:hover,
.edit_payment_type:hover {
    color: #000;
}
.edit_purchase_order::after,
.edit_payment_type::after {
    font-family: Dashicons;
    content: '\f464';
    float: right;
}